<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GreatWall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1563BCC1E08E24100E20C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1563BE51E08E24100E20C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1563BF01E08E24100E20C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
